h1 {
	font-size: responsive 2rem 3.5rem;
}

.myButton {
	font-family: 'Open-Sans-Bold';
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	max-width: 150px;
	min-height: 50px;
	border: 1px solid #333;
	margin: 0 auto;
	font-family: OpenSans-Semibold, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	cursor: pointer;
}
.myButton:after {
	position: absolute;
	content: "\203A";
	top: 50%;
	right: 12%;
	transform: translateY(-55%)
}

@media (max-width: 1215px) {
	.myButton {
		margin: 0.5rem 0;
	}
}